.selectName {
  color: var(--color-dark-100);
  font-size: 14px;
  line-height: 24px;
}

.SelectTrigger {
  outline: none;
  width: 210px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-dark-100);
  font-size: 16px;
  line-height: 24px;
  padding-left: 10px;
  gap: 5px;
  background-color: var(--color-dark-900);
  color: var(--violet-11);
  margin-top: 10px;
}

.SelectTrigger:hover {
  background-color: var(--color-dark-100);
}

.SelectTrigger:focus {
  border: 1px solid var(--color-info-700);
}

.SelectTrigger[data-placeholder] {
  color: var(--violet-9);
}

.SelectTrigger[data-disabled] {
  color: var(--color-dark-300);
  &:hover {
    background: var(--color-dark-900);
  }
}

.SelectIcon {
  color: var(--violet-11);
}

.SelectContent {
  overflow: hidden;
  background-color: var(--color-dark-900);
}

.SelectViewport {
  border: 1px solid var(--color-dark-100);
  border-top: none;
}

.SelectItem {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-light-100);
  display: flex;
  align-items: center;
  height: 25px;
  width: 209px;
  padding: 0 35px 0 10px;
  position: relative;
  user-select: none;
}

.SelectItem[data-disabled] {
  color: var(--color-dark-300);
  pointer-events: none;
}

.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--color-accent-900);
  color: var(--color-accent-300);
}

.SelectSeparator {
  height: 1px;
  background-color: var(--violet-6);
  margin: 5px;
}