.wrapper {
  margin-bottom: 36px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  .filter {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 24px;
    height: 65px;
  }
}