.card {
  width: 100%;
  max-width: 413px;
  padding: 33px 36px 29px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  margin-bottom: 12px;
}

.title {
  margin-bottom: 27px;
  text-align: center;
}

.recoverPassword,
.recoverPassword:visited {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  margin-bottom: 66px;

  text-decoration: none;
}

.questionText {
  display: flex;
  justify-content: center;

  margin-top: 16px;
  margin-bottom: 11px;

  color: var(--color-light-900);
  text-decoration: none;
}

.signUpLink {
  display: flex;
  justify-content: center;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);
}
