.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-dark-700);
  width: 100%;
  height: 60px;
  padding-left: 136px;
  padding-right: 136px;

  .headerNavigation {
    width: 100px;
    height: 36px;
    text-align: center;
  }

  .profileLink {
    display: flex;
    gap: 5px;
    align-items: center;

    .profileName {
      border-bottom: 1px dashed var(--color-light-100);
    }

    img {
      width: 36px;
      height: 36px;
      margin-bottom: 6px;
    }
  }
}
