.table {
  border-collapse: collapse;
  width: 100%;
  color: var(--color-light-100);
  border: 1px solid var(--color-dark-500);
}

.headCell {
  padding: 6px 24px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);

  background-color: var(--color-dark-500);

  > span {
    user-select: none;
    display: flex;
    gap: 4px;
    align-items: center;
  }
}

.tableCell {
  gap: 20px;

  padding: 6px 24px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);

  background-color: var(--color-bg-table);

  > button {
    cursor: pointer;
    margin-left: 10px;
    background-color: transparent;
    border: none;
  }
}
